

  <div  id= "modal-add">
    
    <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Thêm domain</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal-Add" aria-label="Close" (click)="activeModal.close('Close click')" ></button>
    </div>

    <div class="modal-body">
        <div class="input-form">
            <form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()">
                <div class="row mb-4" >
                    <label class="col-sm-3" >Tên domain</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName = 'domainName'>
                    </div>

                </div>

                <div class="row mb-4" >
                    <label class="col-sm-3" >Mã code</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName = 'domainCode'>
                    </div>

                </div>

                <div class="row mb-4" >
                    <label class="col-sm-3" >Trạng thái</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName = 'status'>
                    </div>

                </div>


                <div class="row mb-4" >
                    <label class="col-sm-3" >Key</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName = 'privateKey'>
                    </div>

                </div>

                <div class="row mb-4" >
                    <label class="col-sm-3" >Mô tả </label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName = 'description'>
                    </div>

                </div>

                <div class="row mb-4">

                    <label class="col-sm-3" >Địa chỉ Hook</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName = 'hook'>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="btn-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')"><i class="mdi mdi-close"></i></button>
                        <button type="submit" class="btn btn-primary w-md" [disabled]="!formData.valid"><i class="fas fa-check"></i></button>
                    </div>
                </div>
<!-- 
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
                    <button type="submit" class="btn btn-primary w-md" [disabled]="!formData.valid">Lưu</button>
                  </div> -->
               

            </form>
        </div>


    </div>
</div>
