

  <div  id= "modal-add">
    
    <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Thêm domain</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal-Add" aria-label="Close" (click)="activeModal.close('Close click')" ></button>
    </div>

    <div class="modal-body">
         <form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()">
            <div class="input-form">
           
                <div class="row mb-4" >
                    <label class="col-sm-3" >Tên domain (<i>*</i>)</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName = 'domainName'>
                    </div>

                </div>

                <div class="row mb-4" >
                    <label class="col-sm-3" >Mã code (<i>*</i>)</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName = 'domainCode'>
                    </div>

                </div>

                <div class="row mb-4" >
                    <label class="col-sm-3" >Trạng thái</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <!-- <input type="text" class="form-control" formControlName = 'status'> -->
                        <select name="" id="" class="form-select" formControlName = 'status' aria-placeholder="Active">
                            Action
                            <option value="0">Khóa</option>
                            <option value="1">Mở khóa</option>
                        </select>
                    </div>

                </div>


                <div class="row mb-4" >
                    <label class="col-sm-3" >Key (<i>*</i>)</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName = 'privateKey'>
                    </div>

                </div>

                <div class="row mb-4" >
                    <label class="col-sm-3" >Mô tả </label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName = 'description'>
                    </div>

                </div>

                <div class="row mb-4">

                    <label class="col-sm-3" >Địa chỉ Hook</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName = 'hook'>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-footer">
                    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Đóng</button>
                    <button type="submit" class="btn btn-primary w-xs" [disabled]="!formData.valid">Lưu</button>
                </div>
            </div>
        </form>

    </div>
</div>
