.modal-header, .input-form {
    padding-left: 64px;
    padding-right: 64px;
}

.modal-body {
    padding-left: 0;
    padding-right: 0;
}

div.btn-footer {
    padding-right: 44px;
}

.btn-footer button {
    margin-left: 18px;
}

div.modal-footer {
    border-top: 1px solid #ccc!important;
}

label.col-sm-3 i {
    color: #de0344ee;
}