

  <!-- Modal-->
    <div id="modal-edit">
        <div class="modal-header">
                <h5 class="modal-title">Sửa người dùng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
            
        </div>
        <form class="form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">
                <div class="input-form">
                
                    <div class="row mb-4" >
                        <label class="col-sm-3" >Họ và tên (<i>*</i>)</label>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                            <input ngxTrim type="text" maxlength="100" class="form-control" formControlName = 'fullName' placeholder="Nhập họ và tên"
                            [ngClass]="{'input-error': f.fullName.invalid && (f.fullName.dirty || f.fullName.touched)}" 

                            >
    
                            <div *ngIf="f.fullName.invalid && (f.fullName.dirty || f.fullName.touched)">
                                <div *ngIf="f.fullName.errors">
                                    <div [hidden]="!f.fullName.errors.required">
                                        <small>Họ và tên không được để trống</small>
                                    </div>
                                    <div *ngIf="f.fullName.errors.maxlength">
                                        <small>Họ và tên  không được vượt quá 100 ký tự</small>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
    
                    </div>

                    <div class="row mb-4" >
                        <label class="col-sm-3" >Tên đăng nhập (<i>*</i>)</label>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                            <input type="text" ngxTrim disabled class="form-control" formControlName = 'username'>
                            <!-- <div *ngIf = "!formData.controls.name.valid"></div> -->
                        </div>
                        
                    </div>

                    <div class="row mb-4" >
                        <label class="col-sm-3" >Email (<i>*</i>)</label>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                            <input type="text" placeholder="Nhập email" maxlength="100" ngxTrim class="form-control" formControlName = 'email'
                            [ngClass]="{'input-error': f.email.invalid && (f.email.dirty || f.email.touched)}" >
                            <!-- <div *ngIf = "!formData.controls.name.valid"></div> -->
                             
                            <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                                <div *ngIf="f.email.errors">
                                    <div *ngIf="f.email.errors.required">
                                        <small>Email không được để trống</small>
                                    </div>
                                    <div *ngIf="f.email.errors.email">
                                        <small>Không đúng định dạng email</small>
                                    </div>
                                
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mb-4" >
                        <label class="col-sm-3" >Mật khẩu (<i>*</i>)</label>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                            <input *ngIf="isCreateByOther" type="password" disabled placeholder="Nhập mật khẩu" ngxTrim class="form-control" formControlName = 'password'                         
                            [ngClass]="{'input-error': f.password.invalid && (f.password.dirty || f.password.touched)}">

                            <input *ngIf="!isCreateByOther" type="password" placeholder="Nhập mật khẩu" maxlength="100" ngxTrim class="form-control" formControlName = 'password'
                            [ngClass]="{'input-error': f.password.invalid && (f.password.dirty || f.password.touched)}">

                            <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                                <div *ngIf="f.password.errors">
                                    <div *ngIf="f.password.errors.required">
                                        <small>Mật khẩu không được để trống</small>
                                    </div>
                                    <div [hidden]="!f.password.errors.minlength">
                                        <small>Mật khẩu phải ít nhất 6 ký tự</small>
                                    </div>
                                
                                </div>
                            </div>
                            <!-- <div *ngIf = "!formData.controls.name.valid"></div> -->
                        </div>

                    </div>

                    <div class="row mb-4" >
                        <label class="col-sm-3" >Số điện thoại (<i>*</i>)</label>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                            <input type="text" placeholder="Nhập số điện thoại" maxlength="10" ngxTrim class="form-control" formControlName = 'phone'
                            [ngClass]="{'input-error': f.phone.invalid && (f.phone.dirty || f.phone.touched)}"
                            (keypress)="keyPress($event)" required
                            >
                            <div *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)">
                                <div *ngIf="f.phone.errors">
                                    <div *ngIf="f.phone.errors.required">
                                        <small>Số điện thoại không được để trống</small>
                                    </div>
                                    <div *ngIf="f.phone.errors.pattern || f.phone.errors.maxlength || f.phone.errors.minlength">
                                        <small>Số điện thoại phải đủ 10 chữ số</small>
                                    </div>
    
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mb-4" >
                        <label class="col-sm-3" >Địa chỉ</label>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                            <input type="text" maxlength="200" placeholder="Nhập địa chỉ" ngxTrim class="form-control" formControlName = 'address'>
                            <!-- <div *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)">
                                <div *ngIf="f.address.errors">
                                    <div *ngIf="f.address.errors.required">
                                        <small>Địa chỉ không được để trống</small>
                                    </div>
                                    <div *ngIf="f.address.errors.maxlength">
                                        <small>Địa chỉ không được vượt quá 100 ký tự</small>
                                    </div>
                                
                                </div>
                            </div> -->
                        </div>

                    </div>

                    <div class="row mb-4">

                        <label class="col-sm-3" >Trạng thái (<i>*</i>)</label>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                            <ng-select formControlName="active" [items]="selectStatus"
                            [searchable]="false"  
                            bindLabel="name"
                            bindValue="id"
                            placeholder="Chọn trạng thái"
                            [ngClass]="{'input-error': f.active.invalid && (f.active.dirty || f.active.touched)}"
                        ></ng-select>
                            <div *ngIf="f.active.invalid && (f.active.dirty || f.active.touched)">
                                <div *ngIf="f.active.errors">
                                    <div *ngIf="f.active.errors.required">
                                        <small>Vui lòng chọn trạng thái</small>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">

                        <label class="col-sm-3" >Giới tính</label>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                            <ng-select formControlName="gender" [items]="selectGender"
                                [searchable]="false"  
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Chọn giới tính"
                            ></ng-select>
                            
                        </div>
                    </div>

                    <div class="row mb-4">
                        <label class="col-sm-3" >Chức vụ (<i>*</i>)</label>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8" >
                            <input type="text" placeholder="Nhập chức vụ" maxlength="100" ngxTrim class="form-control" formControlName = 'position'
                            [ngClass]="{'input-error': f.position.invalid && (f.position.dirty || f.position.touched)}"> 
                        <div *ngIf="f.position.invalid && (f.position.dirty || f.position.touched)">
                            <div *ngIf="f.position.errors">
                                <div *ngIf="f.position.errors.required">
                                    <small>Chức vụ không được để trống</small>
                                </div>
                                <div *ngIf="f.position.errors.position">
                                    <small>Không đúng định dạng Chức vụ</small>
                                </div>
                            
                            </div>
                        </div>
                           
                        </div>
                    </div>

                    <!-- <div class="row mb-4">
                        <label class="col-sm-3" >Chọn quyền</label>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8" >
    
                            <input type="text" ngxTrim class="form-control" placeholder="Nhập chức vụ" (click)="addApp()">

    
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <div class="mb-3" [formGroup]="appRole">
                                          <div formArrayName="userAppDto">
                      
                                            <div class="row btn-role">
                                                <div class="col-md-3" >
                                                    <input type="button" class="btn btn-success inner" value="Add" (click)="addApp()">
                                                </div>            
                                            </div>
                                            <div class="inner mb-3 row" *ngFor="let data of  appGroupRole().controls; let i=index;"
                                              [formGroup]="data" >
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p>Tên app</p>
                                                        
                                                        <ng-select formControlName="appId"  
                                                        (change)="nodeApp($event)"
                                                        [items]="selectAppId"
                                                        bindLabel="appName"
                                                        bindValue="id"
                                                        placeholder="Chọn tên app"
                                                     >           </ng-select> 
                                                    </div>
                                                
                                                    <div class="col-md-4">
                                                        <p>Nhóm quyền</p>
                                                        <ng-select (click)=" listAppGroupRole()" formControlName="groupRoleId" 
                                                        (change)="nodeGroupRole($event)"
                                                        [items]="selectGroupRoleId"
                                                        bindLabel="groupRole"
                                                        bindValue="groupRoleId"
                                                        placeholder="Chọn nhóm quyền"
                                                    >           </ng-select>    
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="button" class="btn btn-primary inner" value="Delete" (click)="deleteApp(i)">
                                                    </div>
                                                </div>
                                            
                                                
                          
                                              
                                            </div>
    
                                          </div>
                                        </div>
                              
                                    </div>
                                </div>
                            </div>
    
    
                        </div>
                    </div> 
                    -->

                </div> 
        
            </div>
            
            <div class="modal-footer">
                <div class="btn-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Đóng</button>
                    <button type="submit" class="btn btn-primary w-xs" [disabled]="!editForm.valid">Lưu</button>
                </div>
            </div>  

        </form>
       
    </div>

