
<div  id= "">
    <form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()">
        <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Thêm mới nhóm quyền</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal-Add" aria-label="Close" (click)="closeModal()" ></button>
        </div>
       
        <div class="modal-body">
            <div class="input-form">
                <ngb-alert type="danger" *ngIf="message && message.length" [dismissible]="false">{{ message }}</ngb-alert>
               
                <div class="row mb-4" >
                    <label class="col-sm-3" >Tên nhóm quyền (<i>*</i>)</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input ngxTrim type="text" class="form-control" formControlName = 'groupRole' placeholder="Nhập tên nhóm quyền" maxlength="200"
                        [ngClass]="{'input-error': f.groupRole.invalid && (f.groupRole.dirty || f.groupRole.touched)}" 
                        > 

                        <div *ngIf="f.groupRole.invalid && (f.groupRole.dirty || f.groupRole.touched)">
                            <div *ngIf="f.groupRole.errors">
                                <div [hidden]="!f.groupRole.errors.required">
                                    <small>Trường tên Nhóm quyền không được phép để trống</small>
                                </div>           
                            </div>
                        </div>
                    </div>

                </div>

                     
                <div class="row mb-4" >
                    <label class="col-sm-3" >Mã nhóm quyền (<i>*</i>)</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input ngxTrim type="text" class="form-control" formControlName = 'groupRoleCode' placeholder="Nhập mã nhóm quyền" maxlength="30"
                        [ngClass]="{'input-error': f.groupRoleCode.invalid && (f.groupRoleCode.dirty || f.groupRoleCode.touched)}" 
                        oninput="this.value = this.value.toUpperCase()"
                        > 

                        <div *ngIf="f.groupRoleCode.invalid && (f.groupRoleCode.dirty || f.groupRoleCode.touched)">
                            <div *ngIf="f.groupRoleCode.errors">
                                <div [hidden]="!f.groupRoleCode.errors.required">
                                    <small>Trường mã Nhóm quyền không được phép để trống</small>
                                </div>           
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mb-4" >
                    <label class="col-sm-3" >Trạng thái (<i>*</i>)</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <ng-select formControlName="status" 
                        [searchable]="false"  
                        [items]="selectStatus"
                        bindLabel="name"
                        bindValue="id"
                        placeholder="Chọn trạng thái"
                        [ngClass]="{'input-error': f.status.invalid && (f.status.dirty || f.status.touched)}" 
                        [(ngModel)]="defaultValue"
            >           </ng-select>
                        <div *ngIf="f.status.invalid && (f.status.dirty || f.status.touched)">
                            <div *ngIf="f.status.errors">
                                <div *ngIf="f.status.errors.required">
                                    <small>Vui lòng chọn trạng thái</small>
                                </div>
                            
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mb-4">
                    <label class="col-sm-3" >Phân quyền (<i>*</i>)</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8" >
                        <!-- <ngx-treeview [items]="listParent"
                        [config]="config"
                        (selectedChange)="onSelectedChange($event)"
                        (filterChange)="onFilterChange($event)">
                        >
                        </ngx-treeview> -->

                        <ngx-dropdown-treeview 
                        [items]="items"
                        [config]="config"
                        (selectedChange)="onSelectedChange($event)"
                        (filterChange)="onFilterChange($event)"
                        placeholder = "chọn phân quyền" 
                        >
                        </ngx-dropdown-treeview>
                    </div>
                    
                </div>

                <div class="row mb-4" >
                    <label class="col-sm-3" >Mô tả</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" ngxTrim class="form-control" formControlName = 'description' placeholder="Nhập mô tả" maxlength="500">
                    </div>

                </div>
                <div class="row mb-4" >
                    <label class="col-sm-3" for="parentId" >Tên đơn vị</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <!-- <input type="text" ngxTrim class="form-control" formControlName = 'description' placeholder="Nhập mô tả" maxlength="500"> -->
                        <!-- <app-depart-select 
                            [config]="config" 
                            [headerTemplate]="headerTemplate" 
                            [items]="listParent"
                            style="width: 100%;"
                            (valueChange) ="onValueChange($event)"
                            [(value)]="parentId"
                            [itemTemplate]="itemTemplate">

                        </app-depart-select> -->

                        <app-tree-select 
                            [config]="config" 
                            [items]="listParent"
                            style="width: 100%;"
                            (valueChange) ="onValueChange($event)"
                            [(value)]="parentId"
                            id="departs-tree"
                            >
                        </app-tree-select>
                        
                    </div>

                </div>

                <div class="row mb-4" >
                    <label class="col-sm-3" for="depart-select-modal" >Cây đơn vị</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <app-depart-select 
                            [control] = "formData.controls.unitId" 
                            [items]="listParent"
                            style="width: 100%;"
                            [fullList]="fullList"
                            [isRequired]="false"
                            id="depart-select-modal"
                        >
                        </app-depart-select>
                        
                    </div>

                </div>
            </div>  
        </div>
            
        <div class="modal-footer">
            <div class="btn-footer" >
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Đóng</button>
                <button type="submit" class="btn btn-primary w-xs" [disabled]="!formData.valid">Lưu</button> 
            </div>
        </div>
    </form>
</div>


     

