

.modal-header{
    padding-left: 64px;
    padding-right: 64px;
}

.btn-footer {
    padding-right: 50px;
}

.btn-footer button {
    margin-left: 18px;
}

tbody {
    border-top-width: 0px !important;
}

th, td {
    border: 1px solid #CECECE;
}