
     
<div  id= "modal">
        <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Thêm domain</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal-Add" aria-label="Close" (click)="closeModal()" ></button>
        </div>
       
        <div class="modal-body">
            <div class="table-responsive">

                <table id="data-table" class = "table table-striped mb-0">
                    <thead>
                        <th class="info-number-icon"></th>
                        <th class="info-text">Tên domain</th>
                        <th class="info-number">Key</th>   
                        <th class="info-text">Miêu tả</th>
                        <th class="info-text">Ngày tạo</th>
                        <th class="info-text">Trạng thái</th>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let dataDomain of userDomainJoin">
                            <td class="info-number-icon">
                                <input  type="checkbox" value="dataDomain.id" [(ngModel)]="dataDomain.isChecked" > 
                            </td>
                            <td class="info-text">{{dataDomain.domainName}}</td>
                            <td class="info-text">{{dataDomain.privateKey}}</td>
                            <td class="info-text">{{dataDomain.description}}</td>
                            <td class="info-date">{{dataDomain.createDates}}</td>
                            <td class="info-text" >
                                <p *ngIf="dataDomain.status == 1">Hoạt động</p>
                                <p *ngIf="dataDomain.status == 0">Khóa</p>
    
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
    
        </div>
            
        <div class="modal-footer">
            <div class="btn-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Đóng</button>
                <button type="button" (click)="onSubmit()" class="btn btn-primary w-xs" >Lưu</button>
                
            </div>
        </div>

</div>


     

