<div class="containers" id = "containers">
    <div class="row">

            <div class = 'side-bar'>

                <div class="title-right">
                    <ul>
                        <li><a href="">SSO</a></li>
                        <li><a href="">/  User</a></li>
                    </ul>


                </div>

            </div>

            <!-- Author -->
            <div class="content">

                <!-- seach    -->
                <div class="search">
                    <div class="search-container">
                        <div class="search-header">
                            <h4>Tìm kiếm người dùng</h4>
                        </div>

                        <div class="">
                            <form class="form row" action="" [formGroup]="formData" >

                                <div class = 'search-info col-md-3' > 
                                        <p>Họ và tên</p>
                                        <input type="text" ngxTrim class="form-control" formControlName = 'fullName' placeholder="Nhập họ và tên">                   
                                </div>

                                <div class = 'search-info col-md-3' > 
                                        <p>Email</p>
                                        <input type="text" ngxTrim class="form-control" formControlName = 'email' placeholder="Nhập email">                       
                                </div>

                                <div class = 'search-info col-md-3' > 
                                    <p>Số điện thoại</p>
                                    <input type="text" ngxTrim maxlength="10" class="form-control" formControlName = 'phone' placeholder="Nhập số điện thoại"
                                    (keypress)="keyPress($event)">                   
                                </div>

                                <div class = 'search-info col-md-3' > 
                                    <p>Trạng thái</p>
                                         
                                    <ng-select formControlName="status" [items]="selectStatus"
                                    [searchable]="false"  
                                    bindLabel="name"
                                    bindValue="id"
                                    placeholder="Chọn trạng thái"
                                    ></ng-select>
                                </div>

                                <div class = 'search-info col-md-3' > 
                                    <p>Tên đăng nhập</p>
                                    <input type="text" ngxTrim class="form-control" formControlName = 'username' placeholder="Nhập tên đăng nhập">                   
                                </div>

                                <div class = 'search-info col-md-3' > 
                                    <p>Tên app</p>
                                    <ng-select formControlName="appId"  
                                    [searchable]="false"  
                                    (change)="nodeApp($event)"
                                    [items]="selectedApp"
                                    bindLabel="appName"
                                    bindValue="appId"
                                    placeholder="Chọn tên app"
                                 >           </ng-select>       
                                </div>

                                <div class = 'search-info col-md-3' > 
                                    <p>Nhóm quyền</p>
                                    <ng-select formControlName="groupRoleId"  (click)=" listAppGroupRole()"
                                    [searchable]="false"  
                                    (change)="nodeGroupRole($event)"
                                    [items]="selectGroupRoleId"
                                    bindLabel="groupRole"
                                    bindValue="groupRoleId"
                                    placeholder="Chọn nhóm quyền"
                                 >           </ng-select>             
                                </div>  
                           
                            </form>
                        </div>


                        <div class="button">
                            <div class="btn-search">
                                <button class=" btn btn-primary" type="button" (click)=" onSearch(true)" >
                                    <span class="bx bx-search-alt-2"></span>
                                    <span>Tìm kiếm</span> 
                                </button>
                                <button class=" btn btn-success" type="button" (click)="openModalAdd(listUsers)">
                                    <span class="bx bx-plus-medical"></span>
                                    <span>Thêm mới</span>
                                </button>
                                <button class=" btn btn-secondary" type="button" (click)="onReset()">
                                    <span>Nhập lại</span>
                                </button>
                            </div>
                        </div>
                        <!-- <app-modal-add *></app-modal-add> -->

                    </div>

                </div>

                <!-- info user -->
                <div class="info-user">
                    <div class="user-container">

                        <div class="search-header">
                            <h4>Thông tin người dùng</h4>
                        </div>

                        <div class="table-responsive">
                            <table id="data-table" class = "table table-striped mb-0">
                                <thead>
                                    <th class="info-number-icon">STT</th>
                                    <th class="info-text">Họ và tên</th>
                                    <th class="info-text">Email</th>
                                    <th class="info-text">Tên đăng nhập</th>
                                    <th class="info-number-date">Số điện thoại</th>
                                    <th class="info-number-date">Ngày tạo</th>
                                    <th class="info-text">Người tạo</th>
                                    <th class="info-text">Trạng thái</th>
                                    <th class="info-text">Tên app</th>
                                    <th class="info-text"> Tên nhóm quyền</th>
                                    <th class="info-number-icon">Thao tác</th>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let dataUser of listUsers ; let i = index">
<!-- 
                                        <td class="info-number-icon">{{listUsers.indexOf(dataUser)+1}}</td> -->
                                        <td class="info-number-icon">{{(page-1)*pageSize + (i+1)}}</td>
  
                                        <td class="info-text">{{dataUser.fullName}}</td>
                                        <td class="info-text">{{dataUser.email}}</td>
                                        <td class="info-text">{{dataUser.username}}</td>
                                        <td class="info-number-date">{{dataUser.phone}}</td>
                                        <td class="info-number-date">
                                            {{convertDateTime(dataUser.createdTime)}}
                                        </td>
                                        <td class="info-number">{{dataUser.createdBy}}</td>
                                        <td class="info-text">
                                            <p *ngIf="dataUser.active == 1">Kích hoạt</p>
                                            <p *ngIf="dataUser.active == 0">Không kích hoạt</p>
                                        </td>
                                        <td class="info-text">{{dataUser.appName}}</td>
                                        <td class="info-text">{{dataUser.groupRole}}</td>
                                        <td class="info-number-icon" >
                                            <!-- <i>
                                                <img  class = "edit" (click)="openModalEdit(dataUser)" src="./assets/images/sso/edit.png" alt="">

                                            </i> -->
                                            <i  (click)="openModalEdit(dataUser)" class="bx bxs-edit-alt"></i>
                                            <i class="bx bx-trash" (click)="deleteUser(dataUser.id, dataUser.username)"></i>

                                            <i *ngIf="dataUser.active == 0" class="bx bx-lock-alt " (click)="unlockOneUser(dataUser.id)"></i>
                                            <i *ngIf="dataUser.active == 1" class="bx bx-lock-open-alt" (click)="lockOneUser(dataUser.id)"></i>

                                            <!-- <i class="bx bx bx-show-alt" routerLink='../detail/{{dataUser.id}}' routerLinkActive="active" (click)="getOneUser(dataUser.id)"></i> -->

                                        </td>
                                    </tr>
                                    

                                </tbody>
                            </table>
                            <ng-container *ngIf="this.listUsers.length == 0">
                                <div class="no-container">
                                    <img  class = "no-data" src="./assets/images/sso/no-data.png" alt="">     
                                </div>
                            </ng-container>

                            <!--Pagination-->
                              
                            <app-pagination *ngIf="listUsers.length"
                                            [page]="page"
                                            [pageSize]="pageSize"
                                            [collectionSize]="totalElements"
                                            (pageChange)="onPageChange($event)"
                                            (pageSizeChange)="pageChangeEvent($event)"
                            >

                            </app-pagination>
                            
                      
                        </div>
                    </div>
                    

                </div>
        
            </div>
    </div>
</div>
