<div class="containers" id = "containers">
    <div class="row">

            <div class = 'side-bar'>

                <div class="title-right">
                    <ul>
                        <li><a href="">SSO</a></li>
                        <li><a href="">/  User</a></li>
                    </ul>


                </div>

            </div>

            <!-- Author -->
            <div class="content">

                <!-- seach    -->
                <div class="search">
                    <div class="search-container">
                        <div class="search-header">
                            <h4>Tìm kiếm người dùng</h4>
                        </div>

                        <div class="">
                            <form class="form row" action="" [formGroup]="formData" >

                                <div class = 'search-info col-md-3' > 
                                        <p>Họ và tên</p>
                                        <input type="text" ngxTrim class="form-control" formControlName = 'fullName' placeholder="Nhập họ và tên">                   
                                </div>

                                <div class = 'search-info col-md-3' > 
                                        <p>Email</p>
                                        <input type="text" ngxTrim class="form-control" formControlName = 'email' placeholder="Nhập email">                       
                                </div>

                                <div class = 'search-info col-md-3' > 
                                    <p>Số điện thoại</p>
                                    <input type="text" ngxTrim maxlength="10" class="form-control" formControlName = 'phone' placeholder="Nhập số điện thoại"
                                    (keypress)="keyPress($event)">                   
                                </div>

                                <div class = 'search-info col-md-3' > 
                                    <p>Trạng thái</p>
                                         
                                    <ng-select [items]="selectStatus"
                                    [searchable]="false"  
                                    bindLabel="name"
                                    bindValue="id"
                                    placeholder="Chọn trạng thái"
                                    ></ng-select>
                                </div>

                                <div class = 'search-info col-md-3' > 
                                    <p>Tên đăng nhập</p>
                                    <input type="text" ngxTrim class="form-control" formControlName = 'username' placeholder="Nhập tên đăng nhập">                   
                                </div>

                                <div class = 'search-info col-md-3' > 
                                    <p>Tên app</p>
                                    <ng-select formControlName="appId"  
                                    [searchable]="false"  
                                    (change)="nodeApp($event)"
                                    [items]="selectedApp"
                                    bindLabel="appName"
                                    bindValue="appId"
                                    placeholder="Chọn tên app"
                                 >           </ng-select>       
                                </div>

                                <div class = 'search-info col-md-3' > 
                                    <p>Nhóm quyền</p>
                                    <ng-select formControlName="groupRoleId"  (click)=" listAppGroupRole()"
                                    [searchable]="false"  
                                    (change)="nodeGroupRole($event)"
                                    [items]="selectGroupRoleId"
                                    bindLabel="groupRole"
                                    bindValue="groupRoleId"
                                    placeholder="Chọn nhóm quyền"
                                 >           </ng-select>             
                                </div>  
                                <div class = 'search-info col-md-3' > 
                                    <p>Autocomplete</p>
                                    <ng-select formControlName="invoiceTemplateId"
                                        [clearable]="true"
                                        (change)="loadTemplatesInvoice($event)"
                                        (search)="onSearchTemplate($event)"
                                        [items]="listInvoice$ | async"
                                        bindLabel="tenantName"
                                        bindValue="id"
                                        placeholder="Autocomplete"
                                        clearAllText="{{'Xóa tất cả'}}"
                                        notFoundText="{{isSearchInvoice? 'Không tìm thấy dữ liệu': 'Vui lòng nhập dữ liệu tìm kiếm'}}"
                                    >           
                                    <ng-template ng-option-tmp let-item="item">
                                        {{item?.tenantName}}
                                    </ng-template>
                                    </ng-select>             
                                </div> 

                                <div class="col-md-12 mb-3">
                                    <div>
                                        <span for="auto" style="margin-right: 20px;">
                                            <label>Trạng thái</label>
                                        </span>
                                        <span style="margin-right: 20px;">
                                            <input type="radio" class="" #auto value="1" checked
                                            style="margin-right: 10px; margin-top: 0;"
                                            formControlName="status"
                                            (click)="handleRadioClick('1')">
                                            <label for="auto" style="">Đang hoạt động</label>
                                        </span>
                                        <span style="margin-right: 20px;">
                                            <input type="radio" class="" #off value="2" checked
                                            style="margin-right: 10px; margin-top: 0;"
                                            formControlName="noStatus"
                                            (click)="handleRadioNoStatusClick('2')">
                                            <label for="off" style="">Đang hoạt động</label>
                                        </span>
                                    </div>
                                </div>
                           
                            </form>
                        </div>


                        <div class="button">
                            <div class="btn-search">
                                <button class=" btn btn-primary" type="button" (click)=" onSearch(true)" >
                                    <span class="bx bx-search-alt-2"></span>
                                    <span>Tìm kiếm</span> 
                                </button>
                                <button class=" btn btn-success" type="button" (click)="openModalAdd(listUsers)">
                                    <span class="bx bx-plus-medical"></span>
                                    <span>Thêm mới</span>
                                </button>
                                <button class=" btn btn-secondary" type="button" (click)="onReset()">
                                    <span>Nhập lại</span>
                                </button>
                            </div>
                        </div>
                        <!-- <app-modal-add *></app-modal-add> -->

                    </div>

                </div>

                <!-- info user -->
                <div class="info-user">
                    <div class="user-container">
                        <div class="search-header">
                            <h4>Thông tin người dùng</h4>
                        </div>

                        <div class="table-responsive">
                            <table id="data-table" class = "table table-striped mb-0">
                                <thead>
                                    <th class="info-number-icon">STT</th>
                                    <th class="info-numbr-icon">Hành động</th>
                                    <th class="info-text">Họ và tên</th>
                                    <th class="info-text">Email</th>
                                    <th class="info-text">Tên đăng nhập</th>
                                    <th class="info-number-date">Số điện thoại</th>
                                    <th class="info-number-date">Ngày tạo</th>
                                    <th class="info-text">Người tạo</th>
                                    <th class="info-text">Trạng thái</th>
                                    <th class="info-text">Tên app</th>
                                    <th class="info-text"> Tên nhóm quyền</th>
                                    <th class="info-number-icon">Thao tác</th>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let dataUser of listUsers ; let i = index">
                                        <td class="info-number-icon">{{(page-1)*pageSize + (i+1)}}</td>
                                        <td class="">
                                            <div class="group-action">
                                                <button *ngIf="idRowEdit !== dataUser?.id" (click)="onEditRow('edit', dataUser)">
                                                    <i class="fa fa-pencil-square-o icon-update bx bxs-edit-alt" aria-hidden="true"></i>
                                                </button>
                                                <button *ngIf="idRowEdit === dataUser?.id" 
                                                    (click)="onUpdateEditRow(dataUser)">
                                                    <i class="fas fa-check" aria-hidden="true"></i>
                                                </button>
                                                <button *ngIf="idRowEdit === dataUser?.id" 
                                                    (click)="onResetEditRow(dataUser) ">
                                                    <i class="fa fa-undo" aria-hidden="true"></i>
                                                </button>
                                                <button *ngIf="idRowEdit === dataUser?.id"
                                                    (click)="onCancelEditRow(dataUser)" >
                                                    <i class="fas fa-window-close" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="info-text">
                                            <div *ngIf="!idRowEdit || idRowEdit !== dataUser?.id">{{dataUser.fullName}}
                                            </div>
                                            <input trim="blue" type="text" [(ngModel)]="dataUser['fullName']"  *ngIf="idRowEdit === dataUser?.id">
                                        </td>
                                        <td class="info-text">
                                            <div *ngIf="!idRowEdit || idRowEdit !== dataUser?.id">{{dataUser.email}}
                                            </div>
                                            <input trim="blue" type="text" [(ngModel)]="dataUser['email']"  *ngIf="idRowEdit === dataUser?.id">
                                        </td>
                                        <td class="info-text">
                                            <div *ngIf="!idRowEdit || idRowEdit !== dataUser?.id">{{dataUser.username}}
                                            </div>
                                            <input trim="blue" type="text" [(ngModel)]="dataUser['username']"  *ngIf="idRowEdit === dataUser?.id">
                                        </td>
                                        <td class="info-number-date">
                                            <div *ngIf="!idRowEdit || idRowEdit !== dataUser?.id">{{dataUser.phone}}
                                            </div>
                                            <input trim="blue" type="text" [(ngModel)]="dataUser['phone']"  *ngIf="idRowEdit === dataUser?.id">
                                        </td>
                                        <td class="info-number-date">
                                            {{convertDateTime(dataUser.createdTime)}}
                                        </td>
                                        <td class="info-number">{{dataUser.createdBy}}</td>
                                        <td class="info-text">
                                            <div *ngIf="!idRowEdit || idRowEdit !== dataUser?.id">
                                                <p *ngIf="dataUser.active == 1">Kích hoạt</p>
                                                <p *ngIf="dataUser.active == 0">Không kích hoạt</p>
                                            </div>
                                            <ng-select [items]="selectStatus" *ngIf="idRowEdit === dataUser?.id"
                                                [searchable]="false"  
                                                bindLabel="name"
                                                bindValue="id"
                                                placeholder="Chọn trạng thái"
                                                [(ngModel)]="dataUser['active']"
                                            ></ng-select>
                                        </td>
                                        <td class="info-text">{{dataUser.appName}}</td>
                                        <td class="info-text">{{dataUser.groupRole}}</td>
                                        <td class="info-number-icon" >
                                            <i  (click)="openModalEdit(dataUser)" class="bx bxs-edit-alt"></i>
                                            <i class="bx bx-trash" (click)="deleteUser(dataUser.id, dataUser.username)"></i>

                                            <i *ngIf="dataUser.active == 0" class="bx bx-lock-alt " (click)="unlockOneUser(dataUser.id)"></i>
                                            <i *ngIf="dataUser.active == 1" class="bx bx-lock-open-alt" (click)="lockOneUser(dataUser.id)"></i>

                                            <!-- <i class="bx bx bx-show-alt" routerLink='../detail/{{dataUser.id}}' routerLinkActive="active" (click)="getOneUser(dataUser.id)"></i> -->

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ng-container *ngIf="this.listUsers.length == 0">
                                <div class="no-container">
                                    <img  class = "no-data" src="./assets/images/sso/no-data.png" alt="">     
                                </div>
                            </ng-container>

                            <!--Pagination-->
                              
                            <app-pagination *ngIf="listUsers.length"
                                            [page]="page"
                                            [pageSize]="pageSize"
                                            [collectionSize]="totalElements"
                                            (pageChange)="onPageChange($event)"
                                            (pageSizeChange)="pageChangeEvent($event)"
                            >

                            </app-pagination>
                        </div>
                    </div>
                </div>

                <!-- Bảng động -->
                
                <div class="info-user">
                    <div class="user-container">
                        <div class="search-header">
                            <h4>Bảng động</h4>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table" class = "table table-bordered table-hover table-striped">
                                <thead>
                                    <tr class="text-center">
                                        <th *ngIf="!!IDColumn">ID<span style="color: red;" *ngIf="IDColumn.notNull">*</span></th>
                                        <th>Hành động</th>
                                        <th *ngFor="let header of headerNoID; index as i">
                                            {{header.columnName}} <span style="color: red;" *ngIf="IDColumn.notNull">*</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of contentList; index as i">
                                        <td>{{item.ID}}</td>
                                        <td>
                                            <button *ngIf="idRowEdit !== item?.ID" (click)="onEditTable('edit', item)">
                                                <i class="fa fa-pencil-square-o icon-update bx bxs-edit-alt" aria-hidden="true"></i>
                                            </button>
                                            <button *ngIf="idRowEdit === item?.ID" 
                                                (click)="onUpdateEditRow(item)">
                                                <i class="fas fa-check" aria-hidden="true"></i>
                                            </button>
                                            <button *ngIf="idRowEdit === item?.ID" 
                                                (click)="onResetEditRow(item) ">
                                                <i class="fa fa-undo" aria-hidden="true"></i>
                                            </button>
                                            <button *ngIf="idRowEdit === item?.ID"
                                                (click)="onCancelEditRow(item)" >
                                                <i class="fas fa-window-close" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td *ngFor = "let header of headerNoID, index as j">
                                            <div *ngIf="!idRowEdit || idRowEdit !== item?.ID"
                                            >
                                                {{convertValueCol(header.columnType, item[header.columnName])}}
                                            </div>
                                            <input
                                                [type]="returnTypeInput(header.columnType)"
                                                [(ngModel)]="item[header.columnName]"
                                                [disabled]="idRowEdit !== item.ID || header.primaryKey"
                                                [required]="header.notNull"
                                                *ngIf="!(header.columnType.includes('DATE') || header.columnType.includes('TIME')) && idRowEdit === item.ID"
                                                (input)="onInputNumber($event, header.columnType, j, item[header.columnName] !== undefined ? header.columnName : '0')"
                                            >

                                            <p style="color: red;" *ngIf="item[header.columnName]?.length < 1 && header?.notNull">
                                                {{header.columnName}} không được để trống
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
