

label.col-sm-3 i {
    color: #de0344ee;
}
small{
    color: #de0344ee;
}

.input-error {
    border: #de0344ee 1px solid;
}

h3.card-title.mb-4.text-primary {
    font-size: 18px;
    padding-left: 12px;
}

button.btn.btn-primary.w-xs {
    float: right;
    margin-right: 12px;
}