
<div class="card-body">
  <div class="containers">
    <div class="row">
        <div class = 'side-bar'>

            <div class="title-right">
                <ul>
                    <li><a href="" routerLink='../group-role' routerLinkActive="active">App</a></li>
                    <li><a href="">/  Tạo mới App</a></li>
                </ul>


            </div>

        </div>
        <!-- <div class="col-12">
            <div class="card-header text-center">
                <div class="search-header">
                    <h4>Tạo mới App</h4>
                </div> 
            </div>
        </div> -->
       <div class="col-6">
            <!-- <ul class="tabs-container">
                <li  (click)="onTabClick('App')" [class.active]="activeTab == 'App'" class="tab-link">App</li>
                <li (click)="onTabClick('Role')" [class.active]="activeTab == 'Role'"  class="tab-link">Quyền</li>
                <li (click)="onTabClick('GroupRole')" [class.active]="activeTab == 'GroupRole'"  class="tab-link">Nhóm quyền</li>
            </ul> -->
            <div class="row">
                <div  (click)="onTabClick('App')" [class.active]="activeTab == 'App'"  class=" ant-tabs-tab app col-md-3">
                    <h4>App</h4>
                </div>
                <div (click)="onTabClick('Role')" (click)="checkTabRole()" [class.active]="activeTab == 'Role'"   class=" ant-tabs-tab role col-md-3">
                    <h4>Quyền</h4>
                </div>
                <div (click)="onTabClick('GroupRole')" (click)="checkTabGroupRole()" [class.active]="activeTab == 'GroupRole'"   class=" ant-tabs-tab groupRole col-md-3">
                    <h4>Nhóm quyền</h4>
                </div>
            
            </div>
    
        </div>
        <div *ngIf="activeTab == 'App'" class="w-100">
            <div class="row">
                <div class="content">
    
                    <!-- seach    -->
                    <div id="app" class="search">
                        <div class="search-container">
                            <div class="search-header">
                                <h4>Thông tin app</h4>
                            </div>
                        
                            <div class="">
                                <form class="form" action="" [formGroup]="formData" >
                                    <div class="row form">
                                        <div class = 'search-info col-md-6' >  
                                        
                                            
                                                <label class="col-sm-4">Tên app (<i>*</i>)</label>
                                                <input type="text" maxlength="100" ngxTrim class="form-control"  formControlName = 'appName' placeholder="Nhập tên app"
                                                [ngClass]="{'input-error': f.appName.invalid && (f.appName.dirty || f.appName.touched)}" 

                                                >
                                                <div *ngIf="f.appName.invalid && (f.appName.dirty || f.appName.touched)">
                                                    <div *ngIf="f.appName.errors" class = "error">
                                                        <div [hidden]="!f.appName.errors.required">
                                                            <small>Tên app không được để trống</small>
                                                        </div>
                                                        <div *ngIf="f.appName.errors.maxlength">
                                                            <small>Tên app không được vượt quá 100 ký tự</small>
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                        </div>
    
                                        <div class = 'search-info col-md-6' >  
                                        
                                            
                                                <label class="col-sm-4">Mã Code (<i>*</i>)</label>
                                                <input type="text" maxlength="100" ngxTrim class="form-control"  formControlName = 'appCode' placeholder="Nhập mã code"
                                                [ngClass]="{'input-error': f.appCode.invalid && (f.appCode.dirty || f.appCode.touched)}" 

                                                >
                                                <div *ngIf="f.appCode.invalid && (f.appCode.dirty || f.appCode.touched)">
                                                    <div *ngIf="f.appCode.errors">
                                                        <div [hidden]="!f.appCode.errors.required">
                                                            <small>Mã code không được để trống</small>
                                                        </div>
                                                        <div *ngIf="f.appCode.errors.maxlength">
                                                            <small>Mã code không được vượt quá 100 ký tự</small>
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class= "row form">
                                        <div class = 'search-info col-md-6' > 
                                        
                                    
                                                <label class="col-sm-4">Trạng thái (<i>*</i>)</label>
                                                <ng-select formControlName="status" [items]="selectStatus"
                                                            [searchable]="false"  
                                                            bindLabel="name"
                                                            bindValue="id"
                                                            placeholder="Chọn trạng thái"
                                                            [(ngModel)]="defaultValue"
                                                            [ngClass]="{'input-error': f.status.invalid && (f.status.dirty || f.status.touched)}" 
                                                ></ng-select>
                                                <div *ngIf="f.status.invalid && (f.status.dirty || f.status.touched)">
                                                    <div *ngIf="f.status.errors">
                                                        <div *ngIf="f.status.errors.required">
                                                            <small>Vui lòng chọn trạng thái</small>
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                        </div>
                                        
                                        <div class = 'search-info col-md-6' > 
                                                                
                                            <label class="col-sm-4">Mô tả</label>
                                            <input type="text" maxlength="500" ngxTrim class="form-control" formControlName = 'description' placeholder="Nhập mô tả">
                                
                                        </div>
    
                                        
                                    </div>
    
                                    <div class= "row form">
                                        <div class = 'search-info col-md-6' >  
                                        
                                            
                                            <label class="col-sm-4" >Private key (<i>*</i>)</label>
                                            <input type="text" maxlength="100" ngxTrim class="form-control"  formControlName = 'privateKey' placeholder="Nhập private key"
                                            [ngClass]="{'input-error': f.privateKey.invalid && (f.privateKey.dirty || f.privateKey.touched)}" 

                                            >
                                            <div *ngIf="f.privateKey.invalid && (f.privateKey.dirty || f.privateKey.touched)">
                                                <div *ngIf="f.privateKey.errors">
                                                    <div [hidden]="!f.privateKey.errors.required">
                                                        <small>Private key không được để trống</small>
                                                    </div>
                                                    <div *ngIf="f.privateKey.errors.maxlength">
                                                        <small>Private key không được vượt quá 100 ký tự</small>
                                                    </div>
                                                
                                                </div>
                                            </div>
                                    </div>
    
                                    <div class = 'search-info col-md-6' >  
                                    
                                        
                                            <label class="col-sm-4">Địa chỉ Hook (<i>*</i>)</label>
                                            <input type="text" maxlength="100" ngxTrim class="form-control"  formControlName = 'hook' placeholder="Nhập địa chỉ hook"
                                            [ngClass]="{'input-error': f.hook.invalid && (f.hook.dirty || f.hook.touched)}" 

                                            >
                                            <div *ngIf="f.hook.invalid && (f.hook.dirty || f.hook.touched)">
                                                <div *ngIf="f.hook.errors">
                                                    <div [hidden]="!f.hook.errors.required">
                                                        <small>Địa chỉ hook không được để trống</small>
                                                    </div>
                                                    <div *ngIf="f.hook.errors.maxlength">
                                                        <small>Địa chỉ hook không được vượt quá 100 ký tự</small>
                                                    </div>
                                                
                                                </div>
                                            </div>
                                    </div>
                                    </div>
                                </form>
                                
                            </div>
    
    
                            <div class="button">
                                <div class="btn-search">
                                    <button class=" btn btn-primary" type="button" [disabled]="!formData.valid" (click)=" onSubmit()" >
                                        
                                        <span>Lưu</span> 
                                    </button>
                                    <button class=" btn btn-secondary" type="button" (click)="onReset()">
                                        <span>Nhập lại</span>
                                    </button>
                                </div>
                            </div>
                            <!-- <app-modal-add *></app-modal-add> -->
    
                        </div>
    
                    </div>

                </div>
            </div>
        </div>

        <div *ngIf="activeTab == 'Role'" class="w-100">
            <div class="info-user" >
                <ngb-alert type="danger" *ngIf="message && message.length">{{ message }}</ngb-alert>
               
                <div class="user-container">
                    <div class="search-header">
                        <h4>Quản lý quyền</h4>
                    </div>
                  
                    <div class="">
                        
                        <div class="button">
                            <div class="btn-search"> 
                                <button  *ngIf = "isDisabled == true" class=" btn btn-primary" type="button" (click)="openAddRole()">
                                    <!-- <span class="bx bx-plus-medical"></span> -->
                                    <span>Tạo mới</span>
                                    <!-- <img  class = "edit" src="./assets/images/sso/saveas.png" alt=""> -->
                                </button>
                                <button  *ngIf = "isDisabled == false" disabled class=" btn btn-primary" type="button" (click)="openAddRole()" >
                                    <span>Tạo mới</span>
                                </button>
                                <button *ngIf = "isDisabled == true" class=" btn btn-success" type="button" (click)="saveRole()" >
                                    <span class=""></span>
                                    <span>Lưu</span> 
                                </button>
                                <button *ngIf = "isDisabled == false" disabled class=" btn btn-success" type="button" >
                                    <span class=""></span>
                                    <span>Lưu</span> 
                                </button>
                            
                        
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table id="data-table" class = "table table-striped mb-0">
                                <thead>
                                    <th class="info-number-icon">STT</th>
                                    <th class="info-text">Tên quyền</th>
                                    <th class="info-number">Mã code</th>   
                                    <th class="info-text">Miêu tả</th>                                    
                                    <th class="info-text">Trạng thái</th>
                                    <th class="info-number-icon">Hành động</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let role of listRole; let i = index">
                                        <td class="info-number-icon">{{i + 1}}</td>
                                        <td class="info-text">{{role.role}}</td>
                                        <td class="info-text">{{role.roleCode}}</td>
                                        <td class="info-text">{{role.description}}</td>
                                        <td class="info-text">
                                            <span *ngIf="role.status == 1">Kích hoạt</span>
                                            <span *ngIf="role.status == 0">Không kích hoạt</span>
                                        </td>
                                        <td class="info-number-icon" >
                                            <!-- <i (click)="openEditRole(i)">
                                                <img  class = "edit" src="./assets/images/sso/edit.png" alt="">

                                            </i> -->
                                            <i class="bx bxs-edit-alt" (click)="openEditRole(i)"></i>
                                            <i (click)="delRole(i, role.role)" class="bx bx-trash"></i>

                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>    
                            <ng-container *ngIf="this.listRole.length == 0">
                                <div class="no-container">
                                    <img  class = "no-data" src="./assets/images/sso/no-data.png" alt="">     
                                </div>
                            </ng-container>        
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div *ngIf="activeTab == 'GroupRole'" class="w-100">
            <div class="row">
                <div class="content">
                
                  
    
                    <div class="info-user">
                        <ngb-alert type="danger" *ngIf="messageError && messageError.length">{{ messageError }}</ngb-alert>
                        <div class="user-container">
                            <div class="search-header">
                                <h4>Quản lý nhóm quyền</h4>
                            </div>

                            <div  class="table-responsive">                   
                                <div class="button">
                                    <div class="btn-search">
                                        <!-- <button class=" btn btn-primary" *ngIf= "isDisabled== true" type="button" (click)=" openAddGroupRole()">
                                            <span>Tạo mới</span> 
                                        </button>
                                        <button class=" btn btn-primary" *ngIf= "isDisabled== false" disabled type="button" (click)=" openAddGroupRole()">
                                            <span>Tạo mới</span> 
                                        </button> -->
                                        <button class=" btn btn-primary" type="button" (click)=" openAddGroupRole()">
                                            <span>Tạo mới</span> 
                                        </button>

                                        <button  *ngIf= "isDisabled== true" class=" btn btn-success" type="button" (click)="createGroupRole()">
                                        
                                            <span>Lưu</span>
                                        </button>
                                        <button  *ngIf= "isDisabled== false" disabled class="btn btn-success" type="button" (click)="createGroupRole()">
    
                                            <span>Lưu</span>
                                        </button>
                                        
    
                                    </div>
                                </div>
                                
                                <table id="data-table" class = "table table-striped mb-0">
                                    <thead>
                                        <th class="info-number-icon">STT</th>
                                        <th class="info-text">Tên nhóm quyền</th>                                    
                                        <th class="info-text">Mã nhóm quyền</th> 
                                        <th class="info-text">Miêu tả</th>                                    
                                        <th class="info-text">Trạng thái</th>
                                        <th class="info-number-icon">Hành động</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let role of listGroupRole; let i = index">
                                            <td class="info-number-icon">{{i+1}}</td>
                                            <td class="info-text">{{role.groupRole}}</td>
                                            
                                            <td class="info-text">{{role.groupRoleCode}}</td>
                                            <td class="info-text">{{role.description}}</td>
                                            <td class="info-text">
                                                <span *ngIf="role.status == 1">Kích hoạt</span>
                                                <span *ngIf="role.status == 0">Không kích hoạt</span>
                                            </td>
                                            <td class="info-number-icon" >
                                                <!-- <i (click)="openEditGroupRole(i)">
                                                    <img  class = "edit" src="./assets/images/sso/edit.png" alt="">
    
                                                </i> -->
                                                <i class="bx bxs-edit-alt" (click)="openEditGroupRole(i)"></i>
                                                <i class="bx bx-trash" (click)="delGroupRole(i,role.groupRole)"></i>
                                                <span class="bx bx-plus-medical" (click)="connectRoleUser(role.groupRoleId)"></span>
    
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                <ng-container *ngIf="this.listGroupRole.length == 0">
                                    <div class="no-container">
                                        <img  class = "no-data" src="./assets/images/sso/no-data.png" alt="">     
                                    </div>
                                </ng-container>
                            </div>
    
                        </div>
    
                    </div>    
    
                </div>
            </div>
        </div>     
    </div>

   </div>
</div>