.modal-header, .input-form {
    padding-left: 64px;
    padding-right: 64px;
}

.modal-body {
    padding-left: 0;
    padding-right: 0;
}
.btn-footer button {
    margin-left: 18px;
}

label.col-sm-3 i, small {
    color: #de0344ee;
}