
<div  id= "modal-add">
    <form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()">
        <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Sửa nhóm quyền</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal-Add" aria-label="Close" (click)="closeModal()" ></button>
        </div>
       
        <div class="modal-body">
            <div class="input-form">
                <ngb-alert type="danger" *ngIf="message && message.length" [dismissible]="false">{{ message }}</ngb-alert>
               
                <div class="row mb-4" >
                    <label class="col-sm-3" >Tên nhóm quyền (<i>*</i>)</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input ngxTrim type="text" class="form-control" formControlName = 'groupRole' placeholder="Nhập tên nhóm quyền" maxlength="200"> 

                        <div *ngIf="f.groupRole.invalid && (f.groupRole.dirty || f.groupRole.touched)">
                            <div *ngIf="f.groupRole.errors">
                                <div [hidden]="!f.groupRole.errors.required">
                                    <small>Trường tên Nhóm quyền không được phép để trống</small>
                                </div>           
                            </div>
                        </div>
                    </div>

                </div>
    
                <div class="row mb-4" >
                    <label class="col-sm-3" >Mô tả</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" ngxTrim class="form-control" formControlName = 'description' placeholder="Nhập mô tả" maxlength="500">
                        <!-- <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                            <div *ngIf="f.password.errors">
                                <div *ngIf="f.password.errors.required">
                                    <small>Trường Mã quyền không được phép để trống</small>
                                </div>
                            </div>
                        </div> -->
                    </div>

                </div>

                <div class="row mb-4" >
                    <label class="col-sm-3" >Trạng thái (<i>*</i>)</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <ng-select formControlName="status"  
                        [items]="selectStatus"
                        bindLabel="name"
                        bindValue="id"
            >           </ng-select>
                    </div>

                </div>

                <div class="row mb-4">
                    <label class="col-sm-3" >Phân quyền (<i>*</i>)</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8" >
                        <ngx-treeview [items]="items"
                        [config]="config"
                        (selectedChange)="onSelectedChange($event)"
                        (filterChange)="onFilterChange($event)">
                        >
                        </ngx-treeview>
                    </div>
                    
                </div>
            </div>  
        </div>
            
        <div class="modal-footer">
            <div class="btn-footer" >
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Đóng</button>
                <button type="submit" class="btn btn-primary w-xs" [disabled]="!formData.valid">Lưu</button> 
            </div>
        </div>
    </form>
</div>


     

