
<div  id= "modal-add">
    <form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()">
        <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Sửa quyền</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal-Add" aria-label="Close" (click)="closeModal()" ></button>
        </div>
       
        <div class="modal-body">
            <div class="input-form">
                <ngb-alert type="danger" *ngIf="message && message.length" [dismissible]="false">{{ message }}</ngb-alert>
               
                <div class="row mb-4" >
                    <label class="col-sm-3" >Tên quyền (<i>*</i>)</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input ngxTrim type="text" maxlength="200" class="form-control" formControlName = 'role' placeholder="Nhập tên quyền"
                        [ngClass]="{'input-error': f.role.invalid && (f.role.dirty || f.role.touched)}" 
                        > 
                        <div *ngIf="f.role.invalid && (f.role.dirty || f.role.touched)">
                            <div *ngIf="f.role.errors">
                                <div [hidden]="!f.role.errors.required">
                                    <small>Trường Tên quyền không được phép để trống</small>
                                </div>           
                            </div>
                        </div>
                    </div>

                </div>
    
                <div class="row mb-4" >
                    <label class="col-sm-3" >Mã quyền (<i>*</i>)</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" maxlength="30" ngxTrim class="form-control" formControlName = 'roleCode' placeholder="Nhập mã quyền"
                        [ngClass]="{'input-error': f.roleCode.invalid && (f.roleCode.dirty || f.roleCode.touched)}" 
                        oninput="this.value = this.value.toUpperCase()"
                        >
                        <div *ngIf="f.roleCode.invalid && (f.roleCode.dirty || f.roleCode.touched)">
                            <div *ngIf="f.roleCode.errors">
                                <div *ngIf="f.roleCode.errors.required">
                                    <small>Trường Mã quyền không được phép để trống</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mb-4" >
                    <label class="col-sm-3" >Chọn trạng thái (<i>*</i>)</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <ng-select formControlName="status" 
                        [searchable]="false"   
                        [items]="selectValue"
                        bindLabel="name"
                        bindValue="id"
                        placeholder="Chọn trạng thái"
                        [ngClass]="{'input-error': f.status.invalid && (f.status.dirty || f.status.touched)}" 
                
                        ></ng-select>
                        <div *ngIf="f.status.invalid && (f.status.dirty || f.status.touched)">
                            <div *ngIf="f.status.errors">
                                <div *ngIf="f.status.errors.required">
                                    <small>Vui lòng chọn trạng thái</small>
                                </div>
                            
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mb-4" >
                    <label class="col-sm-3" >Danh mục (<i>*</i>)</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <ng-select formControlName="systemParamId"  
                        [items]="selectParamId"
                        [searchable]="false"  
                        bindLabel="systemParam"
                        bindValue="id"
                        placeholder="Chọn danh mục"
                        notFoundText="Không tìm thấy"
                        [ngClass]="{'input-error': f.systemParamId.invalid && (f.systemParamId.dirty || f.systemParamId.touched)}" 

                >           </ng-select>
                        <div *ngIf="f.systemParamId.invalid && (f.systemParamId.dirty || f.systemParamId.touched)">
                            <div *ngIf="f.systemParamId.errors">
                                <div *ngIf="f.systemParamId.errors.required">
                                    <small>Vui lòng chọn danh mục</small>
                                </div>
                            
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mb-4">
                    <label class="col-sm-3" >Mô tả</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8" >
                        <input type="text" maxlength="500" ngxTrim class="form-control" formControlName = 'description' placeholder="Nhập mô tả">
                    </div>
                    
                </div>
                
                <!-- <div class="row mb-4" >
                    <label class="col-sm-3" >Chọn nhóm quyền (<i>*</i>)</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <ngx-treeview [items]="items">
                        </ngx-treeview>
                    </div>

                </div> -->
            </div>  
        </div>
            
        <div class="modal-footer">
            <div class="btn-footer" >
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Đóng</button>
                <button type="submit" class="btn btn-primary w-xs" [disabled]="!formData.valid">Lưu</button> 
            </div>
        </div>
    </form>
</div>


     

