
<div class="containers" id = "containers">
    <div class="row">

            <div class = 'side-bar'>
                <div class="title-right">
                    <ul>
                        <li><a href="">SSO</a></li>
                        <li><a href="">/  App</a></li>
                    </ul>
                </div>

            </div>

            <!-- Body app -->
            <div class="content">
                <div class="search-header">
                    <h4>Quản lý App</h4>
                </div>  
                <!-- seach    -->
                <div class="search">
                    <div class="search-container">
                       
                        <div class="search-container">
                            <div class="searchName">
                                <div class = 'search-info row' >
                                    <label class = "col-md-2">Tìm kiếm app</label>
                                    <div class="col-md-10">
                                        <form action=""  [formGroup]="formData" >
                                             <input  type="text" ngxTrim class="form-control mb-4" formControlName = 'app' placeholder="Nhập tên app">

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label class = "col-md-12">Chọn tỉnh/thành phố</label>
                                                        <ng-select formControlName="provinceCode"
                                                            (search)="searchProvince($event)"
                                                            [searchable]="true"  
                                                            [clearable]="true"
                                                            placeholder="Chọn tỉnh/thành phố"
                                                            [notFoundText]="'Không có bản ghi'"
                                                            (change)="changeProvince($event)"
                                                        >
                                                            <ng-container *ngFor="let item of listProvinces; let i = index ">
                                                                <ng-option [value] = item.id>
                                                                    {{item.name}}
                                                                </ng-option>
                                                            </ng-container>
                                                        </ng-select>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label class = "col-md-12">Chọn quận/huyện</label>
                                                        <ng-select formControlName="districtCode"
                                                            (search)="searchDistrict($event)"
                                                            [searchable]="true"
                                                            [clearable]="true"
                                                            placeholder="Chọn quận/huyện"
                                                            [notFoundText]="'Không có bản ghi'"
                                                            (change)="changeDistrict($event)"
                                                        >
                                                            <ng-container *ngFor="let item of listDistrict; let i = index ">
                                                                <ng-option [value] = item.id>
                                                                    {{item.name}}
                                                                </ng-option>
                                                            </ng-container>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </form>
                                       
                                    </div>
    
                                </div>
                            </div>
    
                            <div class="button">
                                <div class="btn-search">
                                    <button class=" btn btn-primary" type="button" (click)=" searchApp(false)" >
                                        <span class="bx bx-search-alt-2"></span>
                                        <span>Tìm kiếm</span>
                                    </button>
                                    
                                    <button class=" btn btn-success" type="button" (click)="creatApp()">
                                        <span class="bx bx-plus-medical"></span>
                                        <span>Thêm mới</span>
                                    </button>
                                </div>
    
                            </div>
    
                        </div>

    
                        <div class="table-responsive">
                            <table id="data-table" class = "table table-striped mb-0">
                                <thead>
                                    <th class="info-number-icon">STT</th>
                                    <th class="info-text">Tên app</th>
                                    <th class="info-text">Private key</th>
                                    <th class="info-text">Miêu tả</th>
                                    <th class="info-number-date">Ngày tạo</th>
                                    <th class="info-date">Người tạo</th>  
                                    <th class="info-text">Trạng thái</th>
                                    <th class="info-number-date">Thao tác</th>
                                </thead>
                                <tbody>

                                    
                                    <tr *ngFor="let dataDomain of listDomain;  let i = index">
                                        <td class="info-number-icon">{{(page-1)*pageSize + (i+1)}}</td>
                                        <td class="info-text">{{dataDomain.app}}</td>
                                        <td class="info-text">{{dataDomain.privateKey}}</td>
                                        <td class="info-text">{{dataDomain.description}}</td>
                                        <td class="info-number-date">
                                            {{convertDateTime(dataDomain.createdTime)}}
                                        </td>
                                        <td class="info-text">{{dataDomain.createdBy}}</td>
                                        <td class="info-text" >
                                            <p *ngIf="dataDomain.status == 1">Kích hoạt</p>
                                            <p *ngIf="dataDomain.status == 0">Không kích hoạt</p>
                                        </td>
                                        <td class="info-number-icon" >
                                            <!-- <i  routerLink='../edit-app/{{dataDomain.appId}}' routerLinkActive="active">
                                                <img  class = "edit" src="./assets/images/sso/edit.png" alt="">
                                                

                                            </i> -->
                                            <i routerLink='../edit-app/{{dataDomain.appId}}' routerLinkActive="active" class="bx bxs-edit-alt"></i>
                                            <i class="bx bx-trash" (click)="deleteApp(dataDomain.appId,dataDomain.app)"></i>
                                            <i  *ngIf="dataDomain.status == 0" class="bx bx-lock-alt" (click)="unlockOneDomain(dataDomain.appId)"></i>
                                            <i *ngIf="dataDomain.status == 1" class="bx bx-lock-open-alt" (click)="lockOneDomain(dataDomain.appId)"></i>

                                            <!-- <i class="bx bx bx-show-alt" routerLink='./edit114/{{dataDomain.appId}}' routerLinkActive="active" ></i> -->
                                        </td>
                                        
                                    </tr>
                                    

                                </tbody>
                            </table>
                            <ng-container *ngIf="this.listDomain.length == 0">
                                <div class="no-container">
                                    <img  class = "no-data" src="./assets/images/sso/no-data.png" alt="">     
                                </div>
                            </ng-container> 
                            <!--Pagination-->                               
                            <app-pagination *ngIf="listDomain.length"
                                            [page]="page"
                                            [pageSize]="pageSize"
                                            [collectionSize]="totalElements"
                                            (pageChange)="onPageChangeApp($event)"
                                            (pageSizeChange)="pageChangeEventApp($event)"
                            >
                            </app-pagination>
                        </div>

                        <!-- -------------------------------------- -->
                        <div class="table-responsive">
                            <div ngbDropdown class="d-inline-block choose-column mb-3 float-right" ngbTooltip="Ẩn/hiện côt">
                                <button id="dropdownBasic1" class=" btn btn-primary btn-view-column" type="button" placement="top" ngbDropdownToggle>
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <span>Ẩn hiện cột</span>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <div class="ps" [style.max-height.vh]="30">
                                        <div class="custom-control custom-checkbox" *ngFor = "let col of columns; let i = index">
                                            <input class="custom-control-input" type="checkbox" checked="col.isShow" id="check{{i}}" (click)="toggleColumns(col)">
                                            <label class="custom-control-label cursor-pointer" for="check{{i}}">{{col.value}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <h4 class="card-title">{{'Kết quả tìm kiếm'}} ( {{totalElements}}  )</h4>
                                <div>
                                    <div *ngIf="getSelectRecord" class="text-info fw-bold font-italic"> Đã chọn {{getSelectRecord}}</div>
                                </div>
                            </div>
                            
                            <ng-container *ngIf="loading">
                                <div id="status">
                                    <div class="spinner-chase">
                                        <div class="chase-dot"></div>
                                        <div class="chase-dot"></div>
                                        <div class="chase-dot"></div>
                                        <div class="chase-dot"></div>
                                        <div class="chase-dot"></div>
                                        <div class="chase-dot"></div>

                                    </div>
                                </div>
                            </ng-container>

                            <table id="data-table" class = "table table-striped mb-0">
                                <thead>
                                    <th class="info-number-icon"> 
                                        <input type="checkbox" [(ngModel)]="checked" 
                                         (ngModelChange)="onAllChecked($event)">
                                    </th>
                                    <th class="info-number-icon">STT</th>
                                    <th class="info-text" (click)="sort('first_name', directive)" *ngIf="this.columns[0].isShow">
                                        <div class="d-flex justify-content-between">
                                            <span>first_name</span>
                                            <div class="sort">
                                                <i class="fas fa-sort-up" [ngClass]="{'icon-sort': directive == 'DESC' && isColumn == 'first_name' }"></i>  
                                                <i class="fas fa-sort-down" [ngClass]="{'icon-sort': directive == 'ASC' && isColumn == 'first_name' }"></i>               
                                            </div>
                                        </div>
                                    </th>
                                    <th class="info-text" (click)="sort('last_name', directive)" *ngIf="this.columns[1].isShow">last_name</th>
                                    <th class="info-text" (click)="sort('user_name', directive)" *ngIf="this.columns[2].isShow">user_name</th>
                                    <th class="info-number-date" (click)="sort('country', directive)" *ngIf="this.columns[3].isShow">country</th>
                                    <th class="info-number-date" (click)="sort('age', directive)" *ngIf="this.columns[4].isShow">
                                        <div class="d-flex justify-content-between">
                                            <span>age</span>
                                            <div class="sort">
                                                <i class="fas fa-sort-up" [ngClass]="{'icon-sort': directive == 'DESC' && isColumn == 'age' }"></i>  
                                                <i class="fas fa-sort-down" [ngClass]="{'icon-sort': directive == 'ASC' && isColumn == 'age' }"></i>               
                                            </div>
                                        </div>
                                    </th>
                                    <th class="text-center">Hành động</th>
                                </thead>
                                <tbody>

                                    
                                    <tr *ngFor="let dataDomain of members | slice: (page-1) * pageSize : page * pageSize;  let i = index">
                                        <td class="info-number-icon"><input  type="checkbox" [ngModel]="setOfCheckedId.has(dataDomain?.id)" 
                                            (ngModelChange)="onItemChecked(dataDomain?.id, $event)"></td>
                                        <td class="info-number-icon">{{(page-1)*pageSize + (i+1)}}</td>
                                        <td class="info-text" *ngIf="this.columns[0].isShow">{{dataDomain.first_name}}</td>
                                        <td class="info-text" *ngIf="this.columns[1].isShow">{{dataDomain.last_name}}</td>
                                        <td class="info-text" *ngIf="this.columns[2].isShow">{{dataDomain.user_name}}</td>
                                        <td class="info-text" *ngIf="this.columns[3].isShow">{{dataDomain.country}}</td>
                                        <td class="info-text" *ngIf="this.columns[4].isShow">{{dataDomain.age}}</td>
                                        <td class="info-number-icon" >
                                            <i routerLink='../edit-app/{{dataDomain?.id}}' routerLinkActive="active" class="bx bxs-edit-alt"></i>
                                            <i class="bx bx-trash" (click)="deleteApp(dataDomain.appId,dataDomain.app)"></i>
                                            <i  *ngIf="dataDomain.status == 0" class="bx bx-lock-alt" (click)="unlockOneDomain(dataDomain.appId)"></i>
                                            <i *ngIf="dataDomain.status == 1" class="bx bx-lock-open-alt" (click)="lockOneDomain(dataDomain.appId)"></i>
                                         </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ng-container *ngIf="this.members.length == 0">
                                <div class="no-container">
                                    <img  class = "no-data" src="./assets/images/sso/no-data.png" alt="">     
                                </div>
                            </ng-container> 
                            <!--Pagination-->      
                            <!-- <app-pagination *ngIf="totalElements"></app-pagination>                          -->
                            <app-pagination *ngIf="members.length"
                                            [page]="page"
                                            [pageSize]="pageSize"
                                            [collectionSize]="members.length"
                                            (pageChange)="onPageChangeApp($event)"
                                            (pageSizeChange)="pageChangeEventApp($event)"
                            >
                            </app-pagination>
                        </div>

                    </div>

                </div>
            </div>

                <!-- Role -->
                
    </div>
</div>

