<div class="containers" id = "containers">
    <div class="row">
            <div class="content">

                <!-- seach    -->
                <div class="search">
                    <div class="search-container">
                        <div class="search-header">
                            <h4>Thông tin quyền</h4>
                        </div>

                        <div class="">
                            <form class="form" action="" [formGroup]="formData" >
                                <div class="row">
                                    <div class = 'search-info col-md-6' >  
                                    
                                        
                                            <label class="col-sm-3" >Tên quyền (<i>*</i>)</label>
                                            <input type="text" maxlength="200" ngxTrim class="form-control"  formControlName = 'role' placeholder="Nhập tên quyền"
                                            [ngClass]="{'input-error': f.role.invalid && (f.role.dirty || f.role.touched)}" 
                                            >
                                            <div *ngIf="f.role.invalid && (f.role.dirty || f.role.touched)">
                                                <div *ngIf="f.role.errors">
                                                    <div [hidden]="!f.role.errors.required">
                                                        <small>Trường Tên quyền không được phép để trống</small>
                                                    </div>           
                                                </div>
                                            </div>
                                    </div>

                                    <div class = 'search-info col-md-6' >  
                                    
                                        
                                        <label class="col-sm-3" >Mã quyền (<i>*</i>)</label>

                                        <input type="text" maxlength="30" ngxTrim class="form-control" formControlName = 'roleCode' placeholder="Nhập mã quyền"
                                        [ngClass]="{'input-error': f.roleCode.invalid && (f.roleCode.dirty || f.roleCode.touched)}" 
                                        >
                                        <div *ngIf="f.roleCode.invalid && (f.roleCode.dirty || f.roleCode.touched)">
                                            <div *ngIf="f.roleCode.errors">
                                                <div *ngIf="f.roleCode.errors.required">
                                                    <small>Trường Mã quyền không được phép để trống</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class= row>
                                    <div class = 'search-info col-md-6' > 
                                    
                                
                                            <p>Trạng thái</p>
                                            <ng-select formControlName="status"  
                                            [items]="selectStatus"
                                            bindLabel="name"
                                            bindValue="id"
                                    >           </ng-select>

                                    </div>
                                    
                                    <div class = 'search-info col-md-6' > 
                                                            
                                        <label class="col-sm-3" >Mô tả</label>
                                        <input type="text" maxlength="500" ngxTrim class="form-control" formControlName = 'description' placeholder="Nhập mô tả">
                            
                                    </div>

                                    
                                </div>

                                <div class= row>
                                    <div class = 'search-info col-md-6' >  
                                    
                                        
                                        <label class="col-sm-3" >Danh mục (<i>*</i>)</label>
                                        <ng-select formControlName="systemParamId"  
                                        [items]="selectParamId"
                                        bindLabel="systemParam"
                                        bindValue="id"
                                        placeholder="--Lựa chọn--"
                                        notFoundText="Không tìm thấy"
                                        >           
                                        </ng-select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="time" class="col-md-2 col-form-label fw-bolder">Datetime</label>
                                        <app-date-picker id="time" [control]="formData.controls.time"></app-date-picker>
                                    </div>

                             
                                 </div>

                            </form>
                        </div>


                        <div class="button">
                            <div class="btn-search">
                                     
                                <button class=" btn btn-primary btn-sm" type="button">                                 
                                    <span>Thêm mới</span> 
                                </button>
                                
                                <button class=" btn btn-primary btn-sm" type="button" (click)="onCreatRole()" >                                 
                                    <span>Lưu</span> 
                                </button>
                                
                                <button class=" btn btn-secondary" type="button" (click)="onReset()">
                                    <span>Nhập lại</span>
                                </button>
                            </div>
                        </div>

                        
                <div class="table-responsive">
                    <table id="data-table" class = "table table-striped mb-0">
                        <thead>
                            <th class="info-text">STT</th>
                            <th class="info-text">Tên quyền</th>
                            <th class="info-number">Mã code</th>   
                            <th class="info-text">Miêu tả</th>                                    
                            <th class="info-text">Trạng thái</th>
                            <th class="info-text">Hành động</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let role of listRole; let i = index">
                                <td class="info-text">{{i}}</td>
                                <td class="info-text">{{role.role}}</td>
                                <td class="info-text">{{role.roleCode}}</td>
                                <td class="info-text">{{role.description}}</td>
                                <td class="info-date">{{role.status}}</td>
                                <td class="info-text" >
                                    <i (click)="openEditRole(i)">
                                        <img  class = "edit" src="./assets/images/sso/edit.png" alt="">

                                    </i>
                                    <i class="bx bx-trash"></i>

                                </td>
                            </tr>
                            
                        </tbody>
                    </table>            
                </div>
                    </div>

                </div>

            </div>
    </div>
</div>

