
.form-group.hidden{
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}

.custom-day{
    text-align: ceter;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    padding-left: 12px !important;

}
.custom-day.focused{
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover{
    background-color: rgb(2,117,216);
    color: white;
}
.custom-day.faded{
    background-color: rgb(2,117,216, 0.5);
}
.icon_calendar{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    z-index: 1;
  }
  .icon-clear{
    position: absolute;
    top: 12px;
    right: 30px;
    z-index: 1;
    display: none;
    &:hover{
      display: block;
    }
  }
  .showIconClose{
    &:hover{
      .icon-clear{
        display: block !important;
      }
    }
  }
  
  .fake-background{
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
  }
  