

  <!-- Modal-->
    <div id="modal-edit">
        <div class="modal-header">
                <h5 class="modal-title">Sửa người dùng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.close('Close click')"></button>
            
        </div>

        <div class="modal-body">
            <div class="input-form">
                <form class="form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
               
                <div class="row mb-4" >
                    <label class="col-sm-3" >Tên đăng nhập</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" disabled class="form-control" formControlName = 'username'>
                        <!-- <div *ngIf = "!formData.controls.name.valid"></div> -->
                    </div>
                </div>

                <div class="row mb-4" >
                    <label class="col-sm-3" >Mật khẩu</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" formControlName = 'password'>
                        <!-- <div *ngIf = "!formData.controls.name.valid"></div> -->
                    </div>

                </div>

                <div class="row mb-4" >
                    <label class="col-sm-3" >Email</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName = 'email'>
                        <!-- <div *ngIf = "!formData.controls.name.valid"></div> -->
                    </div>

                </div>


                <div class="row mb-4" >
                    <label class="col-sm-3" >Số điện thoại</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName = 'phone'>
                        <!-- <div *ngIf = "!formData.controls.name.valid"></div> -->
                    </div>

                </div>

                <div class="row mb-4" >
                    <label class="col-sm-3" >Địa chỉ</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName = 'address'>
                        <!-- <div *ngIf = "!formData.controls.name.valid"></div> -->
                    </div>

                </div>



                <div class="row mb-4">

                    <label class="col-sm-3" >Giới tính</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <select name="" id="" class="form-select" formControlName = 'gender' aria-placeholder="Nam">
                            <option value="0">Nữ</option>
                            <option value="1">Nam</option>
                            <option value="2">Khác</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-4">
                    <label class="col-sm-3" >Chức vụ</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8" >
                        <input type="text" class="form-control" formControlName = 'position'>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="btn-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')"><i class="mdi mdi-close"></i></button>
                        <button type="submit" class="btn btn-primary w-md" [disabled]="!editForm.valid"><i class="fas fa-check"></i></button>
                    </div>
                </div>  

                </form>
            </div> 
      
        </div>

       
    </div>

