
<div class="containers" id = "containers">
    <div class="row">

            <div class = 'side-bar'>
                <div class="title-right">
                    <ul>
                        <li><a href="">SSO</a></li>
                        <li><a href="">/  App</a></li>
                    </ul>
                </div>

            </div>

            <!-- Body app -->
            <div class="content">
                <div class="search-header">
                    <h4>Quản lý App</h4>
                </div>  
                <!-- seach    -->
                <div class="search">
                    <div class="search-container">
                       
                        <div class="search-container">
                            <div class="searchName">
                                <div class = 'search-info row' >
                                    <label class = "col-md-2">Tìm kiếm app</label>
                                    <div class="col-md-10">
                                        <form action=""  [formGroup]="formData" >
                                             <input  type="text" ngxTrim class="form-control" formControlName = 'app' placeholder="Nhập tên app">
                                        </form>
                                       
                                    </div>
    
                                </div>
                            </div>
    
                            <div class="button">
                                <div class="btn-search">
                                    <button class=" btn btn-primary" type="button" (click)=" searchApp(false)" >
                                        <span class="bx bx-search-alt-2"></span>
                                        <span>Tìm kiếm</span>
                                    </button>
                                    
                                    <button class=" btn btn-success" type="button" (click)="creatApp()">
                                        <span class="bx bx-plus-medical"></span>
                                        <span>Thêm mới</span>
                                    </button>
                                </div>
    
                            </div>
    
                        </div>
    
                        <div class="table-responsive">
                            <table id="data-table" class = "table table-striped mb-0">
                                <thead>
                                    <th class="info-number-icon">STT</th>
                                    <th class="info-text">Tên app</th>
                                    <th class="info-text">Private key</th>
                                    <th class="info-text">Miêu tả</th>
                                    <th class="info-number-date">Ngày tạo</th>
                                    <th class="info-date">Người tạo</th>  
                                    <th class="info-text">Trạng thái</th>
                                    <th class="info-number-date">Thao tác</th>
                                </thead>
                                <tbody>

                                    
                                    <tr *ngFor="let dataDomain of listDomain;  let i = index">
                                        <td class="info-number-icon">{{(page-1)*pageSize + (i+1)}}</td>
                                        <td class="info-text">{{dataDomain.app}}</td>
                                        <td class="info-text">{{dataDomain.privateKey}}</td>
                                        <td class="info-text">{{dataDomain.description}}</td>
                                        <td class="info-number-date">
                                            {{convertDateTime(dataDomain.createdTime)}}
                                        </td>
                                        <td class="info-text">{{dataDomain.createdBy}}</td>
                                        <td class="info-text" >
                                            <p *ngIf="dataDomain.status == 1">Kích hoạt</p>
                                            <p *ngIf="dataDomain.status == 0">Không kích hoạt</p>
                                        </td>
                                        <td class="info-number-icon" >
                                            <!-- <i  routerLink='../edit-app/{{dataDomain.appId}}' routerLinkActive="active">
                                                <img  class = "edit" src="./assets/images/sso/edit.png" alt="">
                                                

                                            </i> -->
                                            <i routerLink='../edit-app/{{dataDomain.appId}}' routerLinkActive="active" class="bx bxs-edit-alt"></i>
                                            <i class="bx bx-trash" (click)="deleteApp(dataDomain.appId,dataDomain.app)"></i>
                                            <i  *ngIf="dataDomain.status == 0" class="bx bx-lock-alt" (click)="unlockOneDomain(dataDomain.appId)"></i>
                                            <i *ngIf="dataDomain.status == 1" class="bx bx-lock-open-alt" (click)="lockOneDomain(dataDomain.appId)"></i>

                                            <!-- <i class="bx bx bx-show-alt" routerLink='./edit114/{{dataDomain.appId}}' routerLinkActive="active" ></i> -->
                                        </td>
                                        
                                    </tr>
                                    

                                </tbody>
                            </table>
                            <ng-container *ngIf="this.listDomain.length == 0">
                                <div class="no-container">
                                    <img  class = "no-data" src="./assets/images/sso/no-data.png" alt="">     
                                </div>
                            </ng-container> 
                            <!--Pagination-->                               
                            <app-pagination *ngIf="listDomain.length"
                                            [page]="page"
                                            [pageSize]="pageSize"
                                            [collectionSize]="totalElements"
                                            (pageChange)="onPageChangeApp($event)"
                                            (pageSizeChange)="pageChangeEventApp($event)"
                            >
                            </app-pagination>
                        </div>

                    </div>

                </div>
            </div>

                <!-- Role -->
                
    </div>
</div>

