
.containers .content {
    margin-top: 0;
}

.title-right ul {
    padding: 0;
}
.title-right ul li {
    display: inline;
    padding: 8px;
}
.title-right ul li:first-child >a {
    color: #74788d !important;
}
.title-right a {
    color: #495057;
}

.content {
    background: #FFFFFF;
}

// Search
.search{
    border: 1px solid #C5C7CD;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-header h4 {
    font-size: 20px;
    margin: 16px 0;
    color: #f0058a;
}

.search-container, .user-container {
    margin: 0 16px;
}

.btn-search {
   text-align: center;
   margin: 16px 0;
}
.btn-search button {
    border-radius: 4px;
    color: #FFFFFF;
    margin-right: 40px;
    border: 0;
}

button.btn.btn-primary span, button.btn.btn-success span {
    padding: 0 8px;
}

button.btn.btn-success.btn-sm {
    background: #00b74a;
}
//Form-table-info

.info-user
{
    width: 100%;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    background: #FFFFFF;
    margin-top: 38px;
}

// Table

.table th {
    padding-left: 10px;
}

table, th, tr, td {
    border: 1px solid #CECECE;
}
tbody {
    border: 0 !important;
}


img.edit, button img
{
    width: 18px;
    height: 18px;   
}

.page-right {
    float: right;
    margin: 16px 0;
}

 .info-number-icon
{
    text-align: center;
}
td.info-number-icon i {
    margin: 0 8px;
}
td i {
    padding-right: 16px;
}

.input-error {
    border: #de0344ee 1px solid;
}
small{
    color: #de0344ee;
}
img.no-data {
    display: block;
    margin: 0 auto;
}

// custom time
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  
  .custom-day.range,
  .custom-day:hover {
    background-color: #556ee6;
    color: white;
  }
  
  .custom-day.faded {
    background-color: #556ee6;
  }
  

  .invalid-feedback-2{
    color: red;
  }
  
  //Ckeditor-----
  :host ::ng-deep .ck-toolbar__grouped-dropdown{
    width: 100% !important;
    position: static !important;
  }
  
  :host ::ng-deep{
    .ck-editor__top, .ck-editor__main{
        border: 1px solid #ccc;
    }
    .ck-on svg path{
        color: red !important;
        background-color: blue !important;
    }
  }
  :host ::ng-deep .ck-dropdown__button{
    display: none !important;
  }
  
  :host ::ng-deep .ck-toolbar__separator{
    display: none !important;
  }
  
  :host ::ng-deep .ck.ck-toolbar-dropdown>.ck-dropdown__panel {
    position: static !important;
    display: block !important;
    box-shadow: none !important;
    border: none;
  }
      
  :host ::ng-deep .ck.ck-editor__editable > .ck-placeholder::before {
    color: #bfbfbf;
  }